@model ChiwasEngine.Models.Pages
@using ChiwasEngine.Helpers
@{
    ViewBag.Title = "Create";
}

<h2>
    Create
</h2>

<!-- Form create/ -->
@using (Html.BeginForm("Create", "Page", FormMethod.Post, new { @class = "form-horizontal", role = "Form", enctype = "multipart/form-data" }))
{
    @Html.Partial("_FormPage")
}
<!-- /Form create -->

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
