@model ChiwasEngine.Models.Pages

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete <abbr title="Delete">@Model.page_title</abbr>?</h3>

@Html.Partial("_PageDegails")

@using (Html.BeginForm())
{
    @Html.BSButtonFor("Eliminar", null, BSButtonForExtensions.BSButtonClass.danger, BSButtonForExtensions.BSButtonType.submit)
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}