@model ChiwasEngine.Models.Pages
@{
    Layout = null;
}

<link href="~/Content/css/bootstrap.css" rel="stylesheet" />

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <h2>Details</h2>

    @Html.Partial("_PageDetails")
</div>