@model ChiwasEngine.Models.Categories

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<!-- Form create/ -->
@using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { @class = "form-horizontal", role = "Form" }))
{
    @Html.Partial("_FormCategory")
}
<!-- /Form create -->

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
