<div class="col-md-3">
    <div class="chf-sidebar affix-top" style="">
        <ul class="nav chf-sidenav">
            <li class=""><a href="@Url.Action("Profile", "Account")">Editar perfil</a></li>
            <li class=""><a href="@Url.Action("ChangePassword", "Account")">Cambiar contrase&ntilde;a</a></li>
        </ul>
    </div>
</div>
