<div class="col-lg-3">
    <div class="chf-sidebar affix-top" style="">
        <ul class="nav chf-sidenav">            
            <li class=""><a href="#transitions">New Page</a></li>            
        </ul>
    </div>
</div>